h1 {
    text-align: center;
}

div.registration-form {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

div.registration-form input,
div.registration-form select,
div.registration-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

div.registration-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

div.registration-form button:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

.all-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-danger {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}